ul li{
    
    border-radius: 10px;
    

}
.box{
    box-sizing: border-box;
    margin-top: 100px;
    width: 400px;height: 400px;
    border: solid black 4px;
    position: absolute;top: 20px;left: 300px;
    background-color: bisque;

}
.inputtext{
    margin-top: 30px;
    margin-left: 60px;
    padding: 2px;
    border:1px red;
    box-shadow: 2px 2px 2px,3px 1px 1px;
    border-radius: 10px;
    padding: 5px;
    
}
body{
    position: relative;
    display: flex;
    background-color: aquamarine;

}
ul{
    
    
border-radius: 10px;
}
.btn{
    margin-left: 10px; border-radius: 10px;
    padding: 4px;
}

h1{
    margin-left: 80px;
}
li {
    margin-right: 40px;
    position: relative;
    margin: 10px;
    background-color: azure;
    list-style-type: lower-roman;
}
.btnclass{
    position: absolute;
    right: 1px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: brown;
    color: aliceblue;
}
.btnclass:hover{
    background-color: aquamarine;
    color: black;
}
.thru{
    text-decoration: line-through;

}